/* Very basic styling, will return to this if time allows */
*{
    text-align: center;
    transition: .6s;
    font-family: 'Roboto', sans-serif;
}

header div {
    font-size: 2.5em;
    margin:1rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

header nav a {
    color: #000;
    text-decoration: none;
    font-size: 1.25rem;
}

header nav a:hover {
    color: #191;
    text-decoration: underline;
    transform: scale(1.7);
}

header nav a:active {
    color: #919;
    text-decoration: underline;
    transform: scale(1.3);
}

input {
    text-align: left;
}

.searchHistory {
    font-size: 1.5rem;
}

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding:  1rem 0;
    font-size: 1.25rem;
}

#submit{
    
   
    padding: .5rem 1rem;
   background-color: #ffffff;

    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#searchForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding:  1rem 0;
    font-size: 1.25rem;
}